body {
    font-family: "Poppins", sans-serif;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../images/margate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 240px 0;

}

h1 {
    font-weight: 700;
    font-size: 86px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;

}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-decoration: none;
    color: #272044;
    background: white;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}


@media (max-width: 800px) {
    header {
        padding: 60px 0;
    }
    h1 {
        font-size: 43px;
    }
    header h2 {
        font-size: 18px;
    }
    header h3 {
        font-size: 13px;
    }
}