:root {
    --primary-color: #272044;
    --secondary-color: white;
}

body {
    font-family: "Poppins", sans-serif;
}
header {
    background-image: linear-gradient(rgba(39, 32, 68, 0.4), rgba(39, 32, 68, 0.6)), url("../images/margate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary-color);
    text-align: center;
    padding: 200px 0;
}

h1 {
    font-weight: 700;
    font-size: 86px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
    text-decoration: underline;

}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-decoration: none;
    color: var(--primary-color);
    background: var(--secondary-color);
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px;
    transition: all 100ms ease-in-out;
}

header a:hover {
    text-decoration: underline;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}

footer {
    color: var(--secondary-color);
    background-image: linear-gradient(rgba(39, 32, 68, 0.8), rgba(39, 32, 68, 0.8)), url("../images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}

main h3 {
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-color);
    opacity: 0.3;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 0;
}

main h2 {
    font-size: 40px;
    line-height: 1.2;
    color: #272044;
    margin-top: 0;
}

main p {
    font-size: 16px;
    line-height: 1.4;
    color: var(--primary-color);
    opacity: 0.5;
}  

footer h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5
}

footer a {
    color: var(--secondary-color);
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

footer p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.7;
}

.footer-grid {
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 45px;
}

.grid {
    display: grid;
}

.about-margate-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;

}
.two-column-grid {
    grid-template-columns: 1fr 1fr;
}

.three-column-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
      
.restaurant-cards-section {
    background-color:#F8F8F8;
    text-align: center;
}

.cards {
    background-color: var(--secondary-color);
}

.card-body {
    padding: 25px;
}
.cards h2 {
    font-size: 30px;
}

.cards a {
    background-color: #462CB2;
    color: var(--secondary-color);
    padding: 13px 63px;
    text-decoration: none;
    margin-top: 24px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.02px;
    font-size: 15px;
}

.img-responsive {
    width: 100%;
    display: block;
}

.embed {
    width: 100%;
    aspect-ratio: 1/1;
}

.photo-section {
    text-align: center;
    margin: 0 auto;
}
@media (max-width: 800px) {
    header {
        padding: 60px 0;
    }
    h1 {
        font-size: 43px;
    }
    header h2 {
        font-size: 18px;
    }
    header h3 {
        font-size: 13px;
    }
    .two-column-grid, .three-column-grid, .footer-grid {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    section {
        padding: 0;
    }

    .about {
        padding-top: 10px;
    }
     .restaurant-cards-section, .photos-section {
        padding-top: 25px;

    }

    main img {
        display: none;
    }

    footer {
        padding-top: 10px;
        padding-bottom: 25px;
    }

    .cards img {
        display: none;
    }
    .about img {
        display: none;
    }
    .embed {
        aspect-ratio: 16/9;
    }
}