body {
    font-family: "Poppins", sans-serif;
}
header {
    background-image: linear-gradient(rgba(39, 32, 68, 0.4), rgba(39, 32, 68, 0.6)), url("../images/margate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;

}

h1 {
    font-weight: 700;
    font-size: 86px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;

}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 3px;
    text-decoration: none;
    color: #272044;
    background: white;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}

footer {
    color: white;
    background-image: linear-gradient(rgba(39, 32, 68, 0.8), rgba(39, 32, 68, 0.8)), url("../images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
section {
    max-width: 1200px;
    margin: 0 auto;
}

footer h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5
}

footer a {
    color: white;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.7
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

footer p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.7;
    margin-right: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}
@media (max-width: 800px) {
    header {
        padding: 60px 0;
    }
    h1 {
        font-size: 43px;
    }
    header h2 {
        font-size: 18px;
    }
    header h3 {
        font-size: 13px;
    }
}